#!/bin/bash

{{- if eq .chezmoi.os "linux" }}
sudo apt-get update
sudo apt-get upgrade
# check if git does not exists
if ! [ -x "$(command -v git)" ]; then
  sudo apt-get install git
fi

# install fzf
sudo apt install fzf
# install ripgrep
sudo apt-get install ripgrep 
# install fd
sudo apt-get install fd-find

#install tmux
sudo apt-get install -y tmux
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm #tpm

# install clipboard tools
sudo apt install xsel

# install zsh
sudo apt install zsh
zsh --version &>/dev/null
if [[ "$?" -eq 0 ]]; then
  chsh -s $(which zsh)
fi

# install kitty
# TODO: check for display?
sudo apt-get install kitty

# install neovim
if ! [ -x "$(command -v nvim)" ]; then
  curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
  chmod u+x nvim.appimage
  mkdir -p ~/bin/
  mv nvim.appimage ~/bin/nvim
fi
{{- end }}

if [ ! -d "$HOME/.oh-my-zsh" ]; then
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
  git clone https://github.com/jeffreytse/zsh-vi-mode $ZSH_CUSTOM/plugins/zsh-vi-mode
  git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
  git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
  git clone https://github.com/wbingli/zsh-wakatime.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-wakatime
fi

if ! [ -x "$(command -v go)" ]; then
  {{- if eq .chezmoi.os "linux" }}
  curl -OL https://go.dev/dl/go1.21.2.linux-amd64.tar.gz
  sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go1.21.2.linux-amd64.tar.gz
  rm -rf go1.21.2.linux-amd64.tar.gz
  {{- else if eq .chezmoi.os "darwin" }}
  brew install go
  {{- end }}
  go version
fi
