#!/bin/bash


# -----------------------------------------------------------
# GENERAL
# -----------------------------------------------------------
if [ ! -d "$HOME/.oh-my-zsh" ]; then
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k
git clone https://github.com/jeffreytse/zsh-vi-mode $ZSH_CUSTOM/plugins/zsh-vi-mode
git clone https://github.com/zsh-users/zsh-syntax-highlighting.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
git clone https://github.com/wbingli/zsh-wakatime.git ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-wakatime
git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
~/.fzf/install

if ! [ -x "$(command -v go)" ]; then
  {{- if eq .chezmoi.os "linux" }}
  curl -OL https://go.dev/dl/go1.21.2.linux-amd64.tar.gz
  sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go1.21.2.linux-amd64.tar.gz
  rm -rf go1.21.2.linux-amd64.tar.gz
  {{- else if eq .chezmoi.os "darwin" }}
  brew install go
  {{- end }}
  go version
fi

# ------------------------------------------------
# Linux
# ------------------------------------------------
{{- if eq .chezmoi.os "linux" }}
sudo apt-get update
sudo apt-get upgrade
# check if git does not exists
if ! [ -x "$(command -v git)" ]; then
  sudo apt-get install git
fi

# install fzf
sudo apt install fzf
# install ripgrep
sudo apt-get install ripgrep 
# install fd
sudo apt-get install fd-find

#install tmux
sudo apt-get install -y tmux
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm #tpm

# install clipboard tools
sudo apt install xsel

# install zsh
sudo apt install zsh
zsh --version &>/dev/null
if [[ "$?" -eq 0 ]]; then
  chsh -s $(which zsh)
fi

# install kitty
# TODO: check for display?
sudo apt-get install kitty

# install node
sudo apt-get update
sudo apt-get install -y ca-certificates curl gnupg
sudo mkdir -p /etc/apt/keyrings
curl -fsSL https://deb.nodesource.com/gpgkey/nodesource-repo.gpg.key | sudo gpg --dearmor -o /etc/apt/keyrings/nodesource.gpg
NODE_MAJOR=20
echo "deb [signed-by=/etc/apt/keyrings/nodesource.gpg] https://deb.nodesource.com/node_$NODE_MAJOR.x nodistro main" | sudo tee /etc/apt/sources.list.d/nodesource.list
sudo apt-get update
sudo apt-get install nodejs -y
sudo apt-get install python3-venv

# install neovim
if ! [ -x "$(command -v nvim)" ]; then
  curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim.appimage
  chmod u+x nvim.appimage
  mkdir -p ~/bin/
  mv nvim.appimage ~/bin/nvim
fi
{{- end }}

