#!/bin/bash

{{ if eq .chezmoi.os "linux" }}
sudo apt-get update
sudo apt-get upgrade
# check if git does not exists
if ! [ -x "$(command -v git)" ]; then
  sudo apt-get install git
fi

# install fzf
sudo apt install fzf
# install ripgrep
sudo apt-get install ripgrep
# install fd
sudo apt-get install fd-find

#install tmux
sudo apt-get install -y tmux

# install clipboard tools
sudo apt install xsel

# install zsh
sudo apt install zsh
zsh --version &>/dev/null
if [[ "$?" -eq 0 ]]; then
  chsh -s $(which zsh)
fi

# install kitty
sudo apt-get install kitty
{{- end -}}
